*{
	box-sizing: border-box;
}

.index {
	background: grey;
	font-family: "Lucida Console", "Courier New", monospace;
}

.about{
	background: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.newsletter{
	background: lightcyan;
	font-family: "Copperplate", fantasy;
}

h1{
	text-align: center;
}

header .navList{
	list-style: none;
}

.navList{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.listItem{
	margin: 0 20px;
}

.card{
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	padding: 10px;
	max-height: 250px;
}

.flexNews{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flexNews .card{
	display: inline-block;
	margin: 10px;
	width: 250px;
}

.gridContact{
	display: grid;
	grid-template-columns: 100px 240px;
	grid-template-rows: 100px 150px 90px;
	grid-template-areas: "b a" "c d" "f e";
}

.contact{
	margin: 10px;
}

.gridContact > *:nth-child(1){
	grid-area: a;
	background: yellow;
}
.gridContact > *:nth-child(2){
	grid-area: b;
	background: red;
}
.gridContact > *:nth-child(3){
	grid-area: c;
	background: blue;
}
.gridContact > *:nth-child(4){
	grid-area: d;
	background: grey;
}
.gridContact > *:nth-child(5){
	grid-area: e;
	background: green;
}
.gridContact > *:nth-child(6){
	grid-area: f;
	background: darkcyan;
}

table{
	border: 3px solid black;
}

table td{
	border: 1px solid black;
	padding: 30px;
}